<header id="header">
	<div id="header-wrapper" class="clearfix">
		<a id="logo" href="/">
			<img src="{{ site.url }}/asserts/images/txtlogo.png" />
			<span id="site-desc">
			济南大学动漫社团
      		</span>
		</a>
		<button id="site-nav-switch">
	    <span class="icon icon-menu"></span>
	  </button>
	</div>
	<aside id="site-menu">
  	<nav>
        <a href="{{ site.url }}/home" class="nav-menu nav">
          Home
        </a>    
        <a href="{{ site.url }}/about" class="nav-menu nav">
          About
        </a>        
        <a href="{{ site.url }}/links" class="nav-menu nav">
          Links
        </a>
    </nav>
	</aside>
</header>
